<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="8" name="WRTT_Suite" parallel="methods">
  <test thread-count="8" name="WRTT_Test" parallel="methods">
    <classes>
      <class name="WaterfallApplications.WRTT"/>
    </classes>
  </test> <!-- WRTT_Test -->
</suite> <!-- WRTT_Suite -->
